#allow vold modem_secure_file:dir read;
allow vold proc_bluetooth_writable:dir read;
allow vold splash2_data_file:dir read;
allow vold sysfs_zram:file write;

